.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 18px;
  height: auto;
  background-color: rgb(31, 28, 31);
}
.wrapper h3 {
  display: grid;
  place-items: center;
  font-size: 1.4rem;
  padding-top: 16px;
}