$purple-color: rgb(212, 12, 212);

$background-primary-color: rgb(31, 28, 31);

$borderRadius-primary: 14px;

$background-basic-color: rgb(38, 33, 38); // using for root background

$background-secondary-color: rgb(57, 43, 57);