@import '../../styles/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 18px;

    height: auto;
    background-color: $background-primary-color;

    h3 {
        display: grid;
        place-items: center;
        font-size: 1.4rem;
        padding-top: 16px;
    }

}